<footer class="page-footer font-small pt-4">
  <div class="container text-center text-md-left">
    <div class="row">
      <div class="col-lg-6">
        <a class="navbar-brand" routerLink="">
          <img class="img-fluid w-100" src=".../../assets/images/Waypoint-Brand-White.png">
        </a>
        <div class="white-text">
          <a href="https://www.google.com/maps/place/115+S+2nd+St,+West+Newton,+PA+15089/@40.2094993,-79.7698086,17z/data=!3m1!4b1!4m5!3m4!1s0x8834e0437beca705:0xef5cbeb5d1c666f3!8m2!3d40.2094952!4d-79.7676199"
            target="_blank" class="white-text">
            <div class="btn btn-floating btn-sm btn-gps rounded-circle white-text">
              <i class="fas fa-map-pin footer-icon"></i>
            </div> 115 South 2nd St. West Newton, PA 15089
          </a>
        </div>
        <div class="white-text">
          <a href="tel:+1-724-633-2050">
            <div class="btn btn-floating btn-sm btn-phone rounded-circle white-text">
              <i class="fas fa-phone footer-icon"></i>
            </div> (724)-633-2050
          </a>
        </div>
        <div class="white-text">
          <a href="mailto:contact@waypointcommunitycenter.org">
            <div class="btn btn-floating btn-sm btn-email rounded-circle white-text">
              <i class="far fa-envelope footer-icon"></i>
            </div> contact@waypointcommunitycenter.org
          </a>
        </div>
      </div>
      <hr class="clearfix w-100 d-lg-none">
      <div class="col-lg-3 float-right">
        <h5 class="text-uppercase mb-4 mt-3 font-weight-bold white-text">Navigate</h5>
        <ul class="list-unstyled">
          <li>
            <a routerLink="" class="white-text">Home</a>
          </li>
          <li>
            <a routerLink="/events" class="white-text">Events</a>
          </li>
          <li>
            <a routerLink="/team" class="white-text">Meet the Team</a>
          </li>
          <li>
            <a href="https://squareup.com/store/waypoint-youth-and-community-center" target="_blank" class="white-text">Donate</a>
          </li>
        </ul>
      </div>
      <hr class="clearfix w-100 d-lg-none">
      <div class="col-lg-3 float-right">
        <h5 class="text-uppercase mb-4 mt-3 font-weight-bold white-text">Hours</h5>
        <ul class="list-unstyled text-white">
          <li>Tuesday, Wednesday, Thursday</li>
          <li>Welcome: 2:30-3:30pm</li>
          <li>Homework Hour: 3:30-4:30pm</li>
          <li>Activity: 4:30-5:30pm</li>
          <li>Free Time: 5:30-6:30pm</li>
        </ul>
      </div>
    </div>
  </div>
  <hr>
  <div class="text-center">
    <ul class="list-unstyled list-inline">
      <li class="list-inline-item">
        <a href="https://www.facebook.com/waypointyouthwn/" target="_blank" class="white-text">
          <button class="btn btn-floating btn-sm btn-fb rounded-circle white-text">
            <i class="fab fa-facebook-f"></i>
          </button>
        </a>
      </li>
      <li class="list-inline-item">
        <a href="https://twitter.com/WaypointYouthWN" target="_blank" class="white-text">
          <button class="btn btn-floating btn-sm btn-tw rounded-circle white-text">
            <i class="fab fa-twitter"></i>
          </button>
        </a>
      </li>
      <li class="list-inline-item">
        <a href="https://www.instagram.com/waypointyouthwn/" target="_blank" class="white-text">
          <button class="btn btn-floating btn-sm btn-instagram rounded-circle white-text">
            <i class="fab fa-instagram"></i>
          </button>
        </a>
      </li>
    </ul>
  </div>
  <hr>
  <div class="footer-copyright py-3 text-center white-text">
    © {{year}} Waypoint Youth & Community Center
  </div>
</footer>
