<section id="campProgram">
  <div class="camp-program-container" style="background-color: white;">
    <h3 class="header-dark text-center">Camp Program</h3>
    <hr class="hr-slim-black">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 col-lg-6">
          <h3 class="header-dark">About</h3>
          <p>
            Waypoint's 2020 summer camp program is a fun and exciting way to instill hope into the surrounding
            youth. Due to COVID-19 and the circumstances that came with it, the students were robbed of their summer.
            Many kids missed out on opportunities to play the sport they usually would during this time.
            Our camps will fix that problem. Our mission is to mentor and train the students to build their confidence
            and skills through our 4 day camp. The camps will take place <b>Monday through Thursday from 9 AM to 1PM</b>,
            and the days will include a lunch along with exhibitions, drills, conditioning, and other activities to push
            and develop their skills.
          </p>
          <b>Our wide variety of camps include:</b>
          <ul>
            <li>Football</li>
            <li>Cheer</li>
            <li>Softball/Baseball</li>
            <li>Art</li>
            <li>Basketball</li>
            <li>Outdoors</li>
            <li>Soccer</li>
            <li>Swimming</li>
            <li>Drama</li>
          </ul>
          <p>
            Our staff, volunteers, and local professionals are ready to build into the youth and give back to the
            community.
            We believe in the kids, and these camps are one way for us to show it to them. We are so excited for
            Waypoint's 2020
            summer camp program. Cannot wait to see you there!
          </p>
          <b>
            After filling out the form, please submit a payment of $65 at our
            <a href="https://waypoint-youth-and-community-center.square.site/" target="_blank">Donation Page</a>.</b>
          <hr>
          <h3 class="header-dark">Calendar</h3>
          <img class="img-fluid" src="../../assets/images/july-camp-calendar.jpg">
        </div>
        <div class="col-12 col-lg-6">
          <hr class="d-lg-none">
          <iframe
            src="https://docs.google.com/forms/d/e/1FAIpQLSerBlyvnxzdhHewSJfdtZp29URZ6Tdop98dgLkadGpvEuGgsA/viewform?embedded=true"
            height="1250" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
        </div>
      </div>
    </div>
  </div>
</section>
