<section id="eventsHeader">
  <div class="container-fluid">
    <div class="events-header-image text-center">
      <div id="eventsHeaderImage"></div>
      <div class="container events-header-content">
        <h3 class="header-white dynamic-header">Upcoming Events</h3>
        <hr class="hr-slim-white" style="margin-top: 0;">
        <p class="white-text dynamic-paragraph">Below is an interactive calendar that shows all of our upcoming events. You can click on an event to find out more
          about it.</p>
      </div>
    </div>
  </div>
</section>

<section id="events">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div id="calendar" class="calendar"></div>
      </div>
    </div>
  </div>
</section>
