#eventsHeaderImage {
  background-image: url('../../assets/images/group-outdoor-wall.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 25% 25%;
  background-size: cover;
  filter: brightness(65%);
  height: 100%;
}

@media (max-width: 576px) {
  #eventsHeaderImage {
    background-attachment: scroll;
  }
}
