<section id="eventsHeader">
  <div class="events-header-image text-center">
    <img class="img-fluid" src=".../../assets/images/group-outdoor-wall.png" style="filter: brightness(65%);">
    <div class="container events-header-content">
      <h1 class="header-white dynamic-header">Upcoming Events</h1>
      <hr class="hr-slim-white" style="margin-top: 0;">
      <p class="white-text dynamic-paragraph">Below is an interactive calendar that shows all of our upcoming events. You can click on an event to find out more
        about it.</p>
    </div>
  </div>
</section>

<section id="events">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div id="calendar" class="calendar"></div>
      </div>
    </div>
  </div>
</section>
