.circle-avatar {
  max-width: 250px;
  width: 250px;
  height: auto;
  display: block;
  padding-top: 250px;
  margin-right: 25px;
  border-radius: 50%;
  background-position-y: center;
  background-position-x: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.avatar-occupation {
  color: rgb(250, 69, 69);
}

.avatar-content {
  max-width: 1300px;
}

#teamHeaderImage {
  background-image: url('../../assets/images/group-indoor.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 50% 50%;
  background-size: cover;
  background-attachment: scroll;
  filter: brightness(65%);
  height: 100%;
}
