<section id="meetTheTeamHeader">
  <div class="team-header-image text-center">
    <img class="img-fluid" src=".../../assets/images/group-indoor.png" style="filter: brightness(65%);">
    <div class="container team-header-content">
      <h1 class="header-white dynamic-header">Meet Our Team</h1>
      <hr class="hr-slim-white" style="margin-top: 0;">
      <p class="white-text dynamic-paragraph">At the heart of Waypoint are those who serve. Here are a few of those who have dedicated their lives to this mission.</p>
    </div>
  </div>
</section>

<section id="meetTheTeam">
  <div class="container" style="margin-bottom: 50px;">
    <div class="avatar-content">
      <div class="row">
        <div class="col-12 col-md-3" style="margin-top: 50px;">
          <img class="img-fluid rounded-circle float-left" src=".../../assets/images/meet-the-team-chris.png">
        </div>
        <div class="col-12 col-md-3 justify-content-center" style="margin-top: 50px;">
          <div class="text-center text-md-left align-self-center">
            <h5 class="avatar-name">Chris Morse</h5>
            <p class="avatar-occupation">Executive Director</p>
            <p>Chris lives with his wife, Pam, and son, Declan, in Forward Township, PA. He has been serving as the worship
              leader and the Creative Arts Director at House of Faith in West Newton, PA for the past 17 years, and was just
              recently ordained as an Associate Pastor there. He worked as a carpenter for 25 years until God called him
              into full-time ministry. He is also the Director of Worship for the Coalition of Fellowship. Chris heads up
              Waypoint Worship, has a mentoring group of 21 young adults, and works day-to-day at the youth center.</p>
          </div>
        </div>
        <div class="col-12 col-md-3" style="margin-top: 50px;">
          <img class="img-fluid rounded-circle float-left" src=".../../assets/images/meet-the-team-pam.png">
        </div>
        <div class="col-12 col-md-3 justify-content-center" style="margin-top: 50px;">
          <div class="text-center text-md-left align-self-center">
            <h5 class="avatar-name">Pam Morse</h5>
            <p class="avatar-occupation">President</p>
            <p>Pam lives in Forward Township, PA with her husband, Chris, and son, Declan. Pam works full time at PricewaterhouseCoopers
              as a Director in the Wealth Management Tax Services group. She has dedicated all of her free time to ministry,
              the youth center, and is a mentor alongside her husband to 21 young adults.</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-3" style="margin-top: 50px;">
          <img class="img-fluid rounded-circle float-left" src=".../../assets/images/meet-the-team-brigid.png">
        </div>
        <div class="col-12 col-md-3 justify-content-center" style="margin-top: 50px;">
          <div class="text-center text-md-left align-self-center">
            <h5 class="avatar-name">Brigid Kolenc</h5>
            <p class="avatar-occupation">Executive Coordinator</p>
            <p>Brigid lives in Forward Township, PA with her husband, Dean. She works part-time as a custom watercolor illustrator
              and a volunteer coordinator at the youth center. Brigid is a vocalist as well as the Social Media Director
              of Waypoint Worship, and is a member of the worship team at House of Faith, which has been her church for 21
              years.</p>
          </div>
        </div>
        <div class="col-12 col-md-3" style="margin-top: 50px;">
          <img class="img-fluid rounded-circle float-left" src=".../../assets/images/meet-the-team-jared.png">
        </div>
        <div class="col-12 col-md-3 justify-content-center" style="margin-top: 50px;">
          <div class="text-center text-md-left align-self-center">
            <h5 class="avatar-name">Jared Roll</h5>
            <p class="avatar-occupation">Secretary</p>
            <p>Jared lives in West Newton, PA, just down the road from the youth center. Jared's heart is serving the young,
              whether in the Dominican Republic, or just in town. He works full-time, and spends his free time as a youth
              leader for Bible Alliance Church.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
