.get-involved-button {
  margin-top: 25px;
}

.mission-statement {
  font-style: italic;
  margin-top: 25px;
}

.meet-team-btn {
  border: 1px solid rgba(255, 255, 255, 0.5);
  background-color: rgba(255, 0, 0, 0.8);
  color: white;
}

.meet-team-container .btn {
  position: absolute;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.video-container {
  position: relative;
  width: 100%;
  height: 620px;
}

.video-wrapper {
  position: absolute;
  z-index: -1;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  overflow: hidden;
  background-size: cover;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-image: none;
}

.video-wrapper video {
  margin: auto;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  visibility: visible;
  opacity: 1;
  width: 3440px;
  height: auto;
}

.video-overlay {
  position: absolute;
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  top: 0;
  left: 0;
  height: 100%;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 2rem;
}

.overlay-text {
  background-color: rgba(0, 0, 0, .4);
  letter-spacing: .1rem;
  font-weight: 300;
  border: 1px solid hsla(0, 0%, 100%, .5);
  padding: 1rem;
  font-weight: 100;
  text-transform: uppercase;
  color: #fff;
  margin: 0;
  text-align: center;
}

@media (max-width: 767px) {
  .meet-team-container .btn {
    top: 50%;
    left: 50%;
  }
}

@media (min-width: 768px) {
  .meet-team-container .btn {
    top: 85%;
    left: 50%;
  }
}

#teamHeaderImage {
  background-image: url('../../assets/images/group-outdoor.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top;
  background-size: cover;
  filter: brightness(65%);
  height: 100%;
}

@media (max-width: 576px) {
  #teamHeaderImage {
    background-attachment: scroll;
  }
}