.get-involved-button {
  margin-top: 25px;
}

.mission-statement {
  font-style: italic;
  margin-top: 25px;
}

.meet-team-btn {
  border: 1px solid rgba(255, 255, 255, 0.5);
  background-color: rgba(255, 0, 0, 0.8);
  color: white;
}

.meet-team-container .btn {
  position: absolute;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.video-container {
  position: relative;
  z-index: -1;
  overflow: hidden;
}

.video-container #header-video {
  height: auto;
  vertical-align: middle;
  width: 100%;
}

.video-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.overlay-text {
  letter-spacing: .1rem;
  background-color: rgba(0, 0, 0, 0.4);
  border: 1px solid hsla(0, 0%, 100%, .5);
  padding: 1rem;
  text-transform: uppercase;
  margin: 0;
}

@media (max-width: 767px) {
  .meet-team-container .btn {
    top: 50%;
    left: 50%;
  }
}

@media (min-width: 768px) {
  .meet-team-container .btn {
    top: 85%;
    left: 50%;
  }
}

#teamHeaderImage {
  background-image: url('../../assets/images/group-outdoor.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top;
  background-size: cover;
  filter: brightness(65%);
  height: 100%;
}

@media (max-width: 576px) {
  #teamHeaderImage {
    background-attachment: scroll;
  }
}