<section id="videoSection" *ngIf="mobile">
  <div class="video-container">
    <div class="video-wrapper">
      <video autoplay loop muted oncanplay="this.play()" onloadedmetadata="this.muted = true">
        <source src="../../assets/video/header-video.mp4" type="video/mp4">
        <source src="../../assets/video/header-video.webm" type="video/webm">
        <p>This browser does not support the video element.</p>
      </video>
    </div>
    <div class="video-overlay text-center">
      <div>
        <h1 class="overlay-text text-white">Waypoint Youth & Community Center</h1>
      </div>
    </div>
  </div>
</section>

<section id="missionStatement">
  <div class="mission-statement-container text-center" style="background-color: white;">
    <h3 class="header-dark">Mission Statement</h3>
    <hr class="hr-slim-black">
    <div class="container">
      <p class="mission-statement">
        Our goal is to be a waypoint and safe haven, helping youth find their purpose and passions while achieving their potential
        through empowering, nurturing, and mentoring them as they become productive members serving our community.
      </p>
    </div>
  </div>
</section>

<section id="getInvolved">
  <div class="get-involved-container text-center">
    <h3 class="header-white">Get Involved</h3>
    <hr class="hr-slim-white" style="width: 7vw;">
    <div class="container" style="margin-top: 35px;">
      <div class="row text-center">
        <div class="col-12 col-lg-6">
          <img src=".../../assets/images/volunteer-students.png" class="img-fluid">
          <div class="get-involved-button">
            <button class="btn btn-danger" style="margin-bottom: 25px;" onclick="window.open('https://drive.google.com/open?id=1O8yg_fP-CFzB6GJmgfJVs_K5WuZs926P')">Students</button>
          </div>
        </div>
        <div class="col-12 col-lg-6">
          <img src=".../../assets/images/volunteer-jake.png" class="img-fluid">
          <div class="get-involved-button">
            <button class="btn btn-danger" onclick="window.open('https://drive.google.com/file/d/1D6A2t8ttX48y_cgJa-vjtcKpo_7wX0zJ')">Volunteers</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="meetTheTeam">
  <div class="container-fluid">
    <div class="meet-team-container text-center">
      <div id="teamHeaderImage"></div>
      <a routerLink="/team">
        <button class="btn meet-team-btn">Meet the Team</button>
      </a>
    </div>
  </div>
</section>
